[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.6"
djangorestframework = "*"
django-environ = "*"
django-on-heroku = "*"
django-extensions = "*"
gunicorn = "*"
djoser = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
environ = "*"
shell = "*"
pillow = "*"
heroku = "*"
django-filter = "*"
boto3 = "*"
django-storages = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.10"
